*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #0cc0df;
}
.container{
    padding: 30px 40px;
    width: 100%;
    align-items: center;
}
.container .searchbar{
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    padding: 30px 4;
}
.container .searchbar .form{
    padding: 30px 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}


.container .searchbar .form input{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #0cc0df;
    font-size: 16px;
    color: #221638;
}
.container .searchbar .form .sub{
    background: #0cc0df;
    border-radius: 10px;
    color: 221638;
    cursor: pointer;
}
.container .contant{
    padding:20px 30px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.container .contant .box{
    padding:20px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    text-align: center;
}
.container .contant .box h2{
    color: #0cc0df;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}
.container .contant .box .img-box img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.container .contant .box h3{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 200;
}